body {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  color: #fff;
}

h1 {
  font-weight: bold;
  margin: 20px;
}
.col-md-6 {
  border: 2px solid #fff;
  margin-top: 150px;
  padding: 20px;
}

button {
  margin: 5px;
}
